@model Todo.Models.Aufgabe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aufgabe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeschreibungText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeschreibungText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbgabeTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbgabeTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erledigt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erledigt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
