@model IEnumerable<Todo.Models.Aufgabe>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste der erledigten Aufgaben</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeschreibungText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbgabeTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeschreibungText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbgabeTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
